@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}
nav {
  background-color: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
  height: 60px;
  display: grid;
  padding-right: 60px;
  grid-template-columns: 20% 45% 15%;
  text-align: center;
  align-items: center;
}
.ant-input-search-button {
  background-color: #456990;
  border: none;
}

.ant-input-search-button:hover {
  background-color: #27486b;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #456990;
}
h3 {
  color: #456990;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  margin-top: 4px;
}

.home_btn {
  color: #456990;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
.prev_btn,
.next_btn {
  color: #456990;
  cursor: pointer;
}
.prev_btn:hover,
.next_btn:hover,
.home_btn:hover {
  color: #27486b;
}
.right_buttons {
  display: grid;
  grid-template-columns: 50% 50%;
}
.navigateBtns {
  align-self: center;
  justify-self: center;
  margin-top: 4px;
}
.pagenumber {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.searchkeyword {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1088px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  h3 {
    color: #456990;
    text-align: center;
    font-size: 15px;
    margin-top: 4px;
  }
  nav {
    padding-right: 0;
    grid-template-columns: 20% 45% 35%;
  }
}
